# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.npy
*.npz
*.zip

# Virtual environments (local or symlinked)
.venv/
venv/
Code/new_venv/

# Data & symlinked datasets
ChimpPic/
ChimpVideos/

# Project-specific heavy folders
logs/
Models/

# SLEAP & YOLO pipelines
Code/Sleap/
Code/Scripts/
Code/COCO_To_Sleap/
Code/Yolo_To_Sleap/
Code/PostProcessing/ChimpUFE/
Code/chimplib/deep_sort/detections/
Code/Tracking/ChimpUFE/

# Metrics
Code/Metric/data/
Code/Metric/results/
Code/Metric/docs/