Code/new_venv

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.npy

Code/Sleap/
Code/Scripts/
Code/COCO_To_Sleap/
Code/Sleap
Code/Yolo_To_Sleap/
Code/Metric/data/predictions/
Code/Metric/data/ground_truth/
Code/Metric/docs/
ChimpVideos/
Code/Metric/results/
Code/PostProcessing/ChimpUFE/
Code/chimplib/deep_sort/detections/